.background {
  background: url(../../assets/mainbackground.png), lightgray 50%;
  height: 572px;
  width: 1440px;
  background-repeat: no-repeat;
  position: relative;
}

.recipes {
  position: absolute;
  top: 367px;
  left: 599px;
}
