.categories {
  display: flex;
  padding: 14px 12px;
  border-radius: 10px;
  margin-bottom: 48px;
}

.dropdown {
  display: flex;
  width: 244px;
  justify-content: center;
  align-items: center;
  color: #afadb5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
